@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(212, 210, 255);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  font-size: 50px;
  font-weight: 900;
  color: rgb(117, 116, 179);
  position: fixed;
  right: 49%;
  bottom: 50%;
  font-family: "Montserrat", sans-serif;
}

li {
  display: block;
  margin: 50px;
  padding: 20px;
  background: linear-gradient(145deg, rgb(117, 116, 179), rgb(159, 158, 242));
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
a {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  color: rgb(117, 116, 179);
  text-decoration: none;
}

li:hover {
  transform: scale(1.1);
  font-weight: 600;
}

a:hover {
  font-weight: 600;
}

p:hover {
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  color: rgb(117, 116, 179);
  text-decoration: none;
}